@tailwind base;
@tailwind components;
@tailwind utilities;

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.lora {
  font-family: 'Lora', serif;
}

.hind-madurai {
  font-family: 'Hind Madurai', sans-serif;
}
